node_modules
vendor
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.env
.env.*
.git
.gitignore
/storage/debugbar
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs
/public/hot
/public/storage
/test
/tests
